header[role=banner],
footer[role=contentinfo] {
  @include container(100%);
}

main[role=main] {
  @include container(1600px);
  @include box-shadow(0 2px 20px 0 rgba(0, 0, 0, 0.67));
  padding-top: $banner-height;
  background-color: white;
  font-size: 1.4rem;
}

.timeline,
.categories {
  @include span(6);
}

@include susy-breakpoint($mobile, layout(1 1/5)) {
  .timeline, .categories {
    @include span(1);
  }
}

.posts, .post {
  @include span(8);
  @include susy-breakpoint($mobile, layout(1 1/5)) {
    @include span(1);
  }
  &.new {
    @include susy-breakpoint($over, layout(15 1/3)) {
      @include span(9);
      @include push(3);
    }
    @include susy-breakpoint($desktop, layout(15 1/3)) {
      @include span(9);
      @include push(3);
    }
    @include susy-breakpoint($tablet, layout(12 1/4)) {
      @include span(10);
      @include push(1);
    }
  }
}
