$item: "_post";

.posts .#{$item} {
  position:      relative;
  margin-bottom: 1.5rem;
  border-bottom: 1px dashed $thistle;
  padding-left:  7.5rem;
  &:first-of-type {
    margin-top:  1.5rem;
  }
  &:last-of-type {
    border-bottom: none;
  }
  .#{$item}-title {
    margin: 0;
    font:   700 2.4rem/1.5em $serif;
  }
  .#{$item}-date {
    position:    absolute;
    top:         .5rem;
    left:        1.2rem;
    color:       $slate;
    font-size:   1.6rem;
    font-weight: 700;
  }
  .#{$item}-meta {
    margin: 1rem 0;
  }
}
