<footer role="contentinfo">
  <p class="powered-by">
    Powered by <a href="//rubyonrails.org" target="_blank">Ruby on Rails</a>
    &amp; <a href="//emberjs.com" target="_blank">Ember.js</a>.
  </p>
</footer>
