<section class="standout" aria-label="standout" role="presentation">
  <h1 class="slogan" aria-label="slogan">We Are Living In Shanghai</h1>
</section>

<section class="timeline" aria-label="timeline">
  {{partial 'partials/events'}}
</section>

<section class="categories" aria-label="categories" role="complementary">
  {{partial 'partials/categories'}}
</section>
