html {
  font: 62.5%/1.5 $sans-serif;
}

body.ember-application {
  background-color: $indigo;
}

a {
  color: $link;
  text-decoration: none;
  @include transition(color .2s ease-out, text-shadow .2s ease-out);
  &:hover {
    color: $link-hover;
    text-decoration: underline;
    text-decoration: underline dashed $thistle;
    @include transition-timing-function(ease-in);
  }
}

form {
  label {
    font-weight: 800;
  }
  input {
    width: 100%;
    padding: .5rem;
  }
  select {
    font-size: 1.6rem;
  }
  button {
    @extend %button;
    @extend %button-shadow;
  }
  .form-group {
    margin-bottom: 2rem;
  }
}

.breadcrumb ._new{
  @include float-right;
}
