.posts ._post {
  position:      relative;
  margin-bottom: 1.5rem;
  border-bottom: 1px dashed $thistle;
  padding-left:  9.6rem;
  &:first-of-type {
    margin-top:  1.5rem;
  }
  &:last-of-type {
    border-bottom: none;
  }
  &-title {
    @extend %title-in-list;
  }
  &-date {
    position:    absolute;
    top:         .5rem;
    left:        1.2rem;
    color:       $slate;
    font-size:   1.6rem;
    font-weight: 700;
  }
  &-meta {
    margin: 1rem 0;
  }
}

.post {
  &-title {
    @extend %title;
    font-size: 3.2rem;
  }
  &-body {
  }
}
